@import url(https://fonts.googleapis.com/css?family=Work+Sans:500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap);

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    font-weight: inherit;
    line-height: 120%;
}
h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    font-weight: inherit;
    line-height: 120%;
} 
h3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    font-weight: inherit;
    line-height: 120%;
}
h4 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-weight: inherit;
    line-height: 130%;
}
h5 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    font-weight: inherit;
    line-height: 130%;
}
h6 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    font-weight: inherit;
    line-height: 130%;
}
html,
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
button {
    background-color: rgba(255, 117, 58, 1);
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 32px;
    color: white;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 130%;
}
.caption {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 140%;
}
.fine-print {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 140%;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ----- */
._container {
    max-width: 1264px;
    padding: 0px 88px;
    margin: 0px auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* Header */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header-container {
    display: flex;
    align-items: center;
}
/* Menu */
.menu {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 56px 0px 0px 0px;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.menu-logo {
}
.menu-logo:not(:last-child) {
    margin: 0px 24px 0px 0px;
}
.menu-item {
    padding: 16px;
}
.menu-item:not(:last-child) {
    margin: 0px 24px 0px 0px;
}
.menu-link {
    color: rgba(252, 252, 252, 1); 
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 130%;
}
.menu-icon-container {
    padding: 8px;
}
.menu-icon-container:not(:last-child) {
    margin: 0px 8px 0px 0px;
}
#menu-icon {
    width: 24px;
    height: 24px;
}
#menu-button {
    background-image: url(../assets/icons/menu.png);
    height: 24px;
    width: 24px;
    display: none;
}
/* Main */
.page {
    flex: 1 1 auto;
}
.main-block {
    position: relative;
}
.main-block-body {
    max-width: 508px;
    padding: 288px 0px 325px 0px;
    position: relative;
    z-index: 2;
}
.main-block-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-block-title {
    color: white;
    font-size: 56px;
    line-height: 120%;
}
/* Ad */
.ad-block {
    position: relative;
    margin: -144px 0px 0px 0px;
    z-index: 2;
}
.ad-body {
    position: relative;
}
.ad-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(171, 4, 51, 1);
    border-radius: 10px;
    overflow: hidden;
}
.ad-image img {
    width: 100%;
    opacity: 0.31;
    border-radius: 10px;
}
.ad-content {
    position: relative;
    padding: 49.5px 32px;
}
.ad-content > *{
    margin: 0px auto;
}
.ad-title {
    font-size: 46px;
    line-height: 120%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 4px;
}
.ad-description {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 24px;
    line-height: 149%;
    text-align: center;
    color: white;
    max-width: 616px;
    margin-bottom: 16px;
}
.ad-button {
    width: fit-content;
    margin: 0px auto;
}
/* Products */
.products-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -16px 0px -16px;
}
.product-body > *:not(:last-child) {
    margin-bottom: 8px;
}
.product-main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product {
    flex: 0 1 33.3%;
    height: 403px;
    flex: 1 1 auto;
    
    text-align: start;
    margin: 26px -16px 0px -16px;
    padding: 0px 32px;
}
.product:last-child {
    display: none;
}
.product-column {
    margin: 0px 0px 32px 0px;
    box-shadow: 0 2px 4px rgba(28, 5, 77, 0.1);
    border-radius: 10px;
}
.product-item {
    padding: 16px 24px 24px;
}
.product-image-background {
    height: 252px;
    background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
}
.product-image {
    position: absolute;
    margin-top: -20px;
}
.product-name {
}
.product-price {
}
.product-description {
    height: 42px;
    font-family: 'Work Sans';
    font-size: 16px;
    line-height: 130%;
    color: rgba(118, 118, 118, 1);
}
.product-colors {
    padding: 2px 6px;
    width: fit-content;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 20px;
}
/* Sections */
.section-title {
    font-weight: 700;
    font-size: 40px;
    color: rgba(80, 80, 80, 1);
    margin-bottom: 8px;
}
.red-line {
    width: 80px;
    border: 2px solid rgba(171, 4, 51, 1);
    margin: 0px auto;
}
/* New Products */
.section-new {
    padding: 88px 0px;
    text-align: center;
}
/* Adaptive */
@media (max-width: 1224px) {
    .menu {
        height: 40px;
        margin: 63px 0px 0px 0px;
    }
    ._container {
        padding: 0px 64px;
    }
    .menu-icon-container {
        display: none;
    }
    .menu-item {
        display: none;
    }
    #menu-button {
        display: block;
    } 
    .main-block-body {
        padding: 283px 0px 329px 0px;
        max-width: 475px;
    }
    .product {
        flex: 1 1 50%;
    }
    .product:last-child {
        display: block;
    }
}
@media (max-width: 759px) {
    .menu {
        height: 30px;
        margin: 58px 0px 0px 0px;
    }
    ._container {
        padding: 0px 24px;
    }
    .menu-logo {
        height: 24px;
        width: 153.2px;
    }
    .main-block-body {
        padding: 195px 0px 195px 0px;
        max-width: 265px;
        margin: auto;
    }
    .main-block-title {
        text-align: center;
        font-size: 32px;
    }
    .ad-block {
        margin: -83px 0px 0px 0px;
    }
    .ad-content {
        position: relative;
        padding: 18px 0px;
    }
    .ad-content > *{
        max-width: 226px;
    }
    .ad-title {
        font-size: 21px;
    }
    .ad-description {
        font-size: 10px;
    }
    button {
        padding: 8px 12px;
        font-size: 12px;
    }
    .product {
        flex: 1 1 100%;
    }
    .section-title {
        font-size: 24px;
        line-height: 130%;
    }
}